/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// AG Grid customization
.ag-theme-alpine {
  --ag-header-height: 40px;
  --ag-header-foreground-color: #000;
  --ag-header-background-color: #f5f5f5;
  --ag-header-cell-hover-background-color: #e0e0e0;
  --ag-row-hover-color: #f0f0f0;
}

// AG Charts customization
.ag-chart-wrapper {
  width: 100%;
  height: 100%;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
   flex-grow: unset !important;
}

.mat-snack-bar-container {
    .mat-button {
      min-width: unset !important;
      color: #fff;
    }
  
    border-radius: 2px;
    box-sizing: content-box;
    display: block;
  
    max-width: 568px !important;
    min-width: 288px !important;
    padding: 14px 24px;
    min-height: 20px !important;
    transform: translateY(100%) translateY(24px);
  }
  
  .mat-mdc-snack-bar-container.success {
    .mdc-snackbar__surface {
      background: #34a853;
      color: #ffffff;
    }
  
  }
  
  .mat-mdc-snack-bar-container.error {
    .mdc-snackbar__surface {
      background: #ea4335;
      color: #ffffff;
    }
  }
  
  .mat-mdc-snack-bar-container.warning {
    .mdc-snackbar__surface {
      background: #fbbc05;
      color: #ffffff;
    }
  }
  